<!DOCTYPE html>
<html>
<head>
    <title>Layout</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
   <div class="container">
        <div class="nav">
           <div class="nav-section-one">
                <div>Logo</div>
                <div>progakas</div>
                <div>search</div>
                <div>profile avatar</div>
           </div>
           <div class="nav-section-two">
                <ul>
                    <li>Overview</li>
                    <li>Projects</li>
                    <li>Feature-two</li>
                    <li>Feature-three</li>
                </ul>
           </div>
        </div>
        <div class="section-body">
            content
        </div>
        <div class="footer">
            foooter
        </div>
   </div>
</body>
</html>